name = "monolog-server"
compatibility_date = "2024-07-25"

workers_dev = true

[vars]
OIDC_ISSUER = "https://accounts.google.com"
WEB_URL = "http://localhost:5173"
OIDC_REDIRECT_URI = "http://localhost:8787/api/auth/callback"

[env.production]
name = "monolog-server"
[env.production.vars]
OIDC_ISSUER = "https://accounts.google.com"
WEB_URL = "https://monolog-9gu.pages.dev"
OIDC_REDIRECT_URI = "https://monolog-server.nanikasi1024.workers.dev/api/auth/callback"

# [[kv_namespaces]]
# binding = "MY_KV_NAMESPACE"
# id = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# [[r2_buckets]]
# binding = "MY_BUCKET"
# bucket_name = "my-bucket"

# [[d1_databases]]
# binding = "DB"
# database_name = "my-database"
# database_id = ""

# [ai]
# binding = "AI"